<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="kr.co.practice.BankBook.BankBookCommentDAO">

	<select id="getList" parameterType="Pager" resultType="BankBookCommentDTO">
		SELECT * FROM bb_comment ORDER BY num DESC
	</select>
	
	<insert id="setCommentAdd" parameterType="BankBookCommentDTO">
		INSERT INTO bb_comment(num, booknum, writer, contents, regdate) VALUES(BOARD_SEQ.NEXTVAL, #{booknum}, #{writer}, #{contents}, sysdate)
	</insert>

</mapper>