<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="kr.co.practice.board.BoardDao">

	<select id="getList" parameterType="Integer" resultType="BoardDto"> <!-- 부등호를 태그로 인식해서 에러남 -->
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY writedate DESC) NUM, BOARD.* FROM BOARD ORDER BY writedate DESC) WHERE NUM <![CDATA[>]]> #{start} AND NUM <![CDATA[<=]]> #{start + 5}
	</select>
	<select id="getDetail" parameterType="Integer" resultType="BoardDto">
		SELECT * FROM board WHERE boardnum=#{boardNum}
	</select>
	<select id="getLength" resultType="Integer">
		SELECT COUNT(*) FROM board
	</select>
	
	<insert id="addBoard" parameterType="BoardDto">
		INSERT INTO board(title, contents, writer) VALUES(#{title}, #{contents}, #{writer})
	</insert>
	
	<update id="getDetailPre" parameterType="Integer">
		UPDATE board SET viewcount = viewcount + 1 WHERE boardnum = #{boardNum}
	</update>
	<update id="updateBoard" parameterType="BoardDto">
		UPDATE board SET title = #{title}, contents = #{contents}, viewcount = viewcount - 1 WHERE boardnum = #{boardNum}
	</update>
	
	<delete id="deleteBoard" parameterType="BoardDto">
		DELETE FROM board WHERE boardnum = #{boardNum}
	</delete>
</mapper>